
body {
  background: url('https://images.unsplash.com/photo-1503264116251-35a269479413') no-repeat center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.glass {
  width: 350px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  color: white;
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  border: none;
}

button {
  background: #00bcd4;
  cursor: pointer;
  font-weight: bold;
}
